@mixin button ($color, $background){
    color :$color;
    background-color: $background;
    border: none;
    border-radius: 6px;
    padding: 1em 1.5em;
    font-size: 0.8em;
    font-weight: 400;
    letter-spacing: 1.5px;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
}
